
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 32px;
}

.row {
    max-width: 1200px;
    padding: 0 48px;
    margin: 0 auto;
    color: whitesmoke;
}

body {
    background-color: #101010;
}

.show__title{
    color: whitesmoke;
    font-size: 32px;
    margin-bottom: 48px;
}

.show__content {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.show__content img {
    width: 250px;
    border-radius: 12px;
}

.show__details a {
    color: #9333ea;
    text-decoration: none;
}

.show__details a:hover {
    text-decoration: underline;
}

.show__details {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    font-size: 18px;
}

.back__btn {
    background-color: #9333ea;
    color: whitesmoke;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease;
    align-self: flex-start;
}

.back__btn:hover {
    background-color: #7e22ce;
}

.back__btn:active {
    transform: scale(.9);
}

.show__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show__synopsis {
    line-height: 1.5;
    color: #d1d1d1;
}